.wrapper{
    padding: 5px;
    margin: 0 auto;
    height: 90vh;
}
.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#selected .card:nth-child(odd){
    background-color: #efefef
}

#selected .card{
    padding: 10px;
}

a{
    text-decoration: unset;
}

.test-register{
    flex-basis: 49%;
    /* justify-self: unset; */
    height: 30px;
    position: fixed;
    top: 90vh;
    left: 10px;
    width: 49%;
}

[class*="col-*"]{
    flex-basis: 100%;
}
@media (max-width: 480px){
    .col-2,.col-2-4{
        flex-basis: 100%;
    }
    .col-0-2{
        display: none;
    }
}
@media (min-width: 768px){
    .col-0-2{
        position: fixed;
        top: 10px;
        left: 10px;
        width: 49%;
        overflow-y: scroll;
        height: 90vh;
    }
    .col-2,.col-2-4{
        flex-basis: 49%;
        /* background-color: lightblue;  */
    }
    .col-4{
        flex-basis: 100%;
        /* background-color: lightblue;  */
    }
}