@use "sass:map";

@import 'breakpoints.scss';
@import 'utils/variables';

.row{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#selected{
    margin-right: 5px;
    .card:nth-child(odd){
        background-color: #efefef
    }
    .card:nth-child(even){
        background-color: #e2e2e2
    }
    .card{
        padding: 10px;
    }
}


.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
}
.card-header:hover .btn.btn-outline-blue {
    display: inline-block;
}
a{
    text-decoration: unset;
    max-width: 80%;
}
.btn.select-question{
    margin: -12px 0px -12px 0px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 18%;
}
.btn.btn-outline-blue.select-question{
    display: none;
}

.clear-border{
    border: none !important;
}
