.wrapper{
    padding: 5px;
    margin: 0 auto;
    height: 90vh;
}
.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 100%;
}

#selected .card:nth-child(odd){
    background-color: #efefef
}

#selected .card{
    padding: 10px;
}

a{
    text-decoration: unset;
}

[class*="col-*"]{
    flex-basis: 100%;
}
.test-register{
    margin: 0 auto;
    position: fixed;
    width: 50%;
    left: 5px;
    top: 5px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-2,.col-2-4{
        flex-basis: 100%;
    }
    .col-4{
        flex-basis: 100%;
    }
    #question{
        margin-top: 40px;
    }
    .test-register{
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-2,.col-2-4{
        flex-basis: 100%;
    }
    .col-4{
        flex-basis: 100%;
    }
    #question{
        margin-top: 40px;
    }
    .test-register{
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-2,.col-2-4{
        flex-basis: 49%;
    }   
    .col-4{
        flex-basis: 100%;
    }
    .col-0-2{
        flex-basis: 49%;
    }
    #selected{
        margin-top: 40px;
    }
    #question{
        margin-top: 0px;
    }
    .test-register{
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-2,.col-2-4{
        flex-basis: 49%;
    }   
    .col-4{
        flex-basis: 100%;
    }
    .col-0-2{
        flex-basis: 49%;
    }
    #question{
        margin-top: 0px;
    }
    #selected{
        margin-top: 40px;
    }
    .test-register{
        width: 50%;
    }
}